
.view-stanford-news-grid.views-grid-two .views-row {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 20px;
    width: 48%;
    vertical-align: top;
}

.view-stanford-news-grid.views-grid-two .views-row.views-row-2,
.view-stanford-news-grid.views-grid-two .views-row.views-row-4,
.view-stanford-news-grid.views-grid-two .views-row.views-row-6,
.view-stanford-news-grid.views-grid-two .views-row.views-row-8,
.view-stanford-news-grid.views-grid-two .views-row.views-row-10,
.view-stanford-news-grid.views-grid-two .views-row.views-row-12,
.view-stanford-news-grid.views-grid-two .views-row.views-row-14,
.view-stanford-news-grid.views-grid-two .views-row.views-row-16,
.view-stanford-news-grid.views-grid-two .views-row.views-row-18,
.view-stanford-news-grid.views-grid-two .views-row.views-row-20,
.view-stanford-news-grid.views-grid-two .views-row.views-row-22,
.view-stanford-news-grid.views-grid-two .views-row.views-row-24,
.view-stanford-news-grid.views-grid-two .views-row.views-row-26,
.view-stanford-news-grid.views-grid-two .views-row.views-row-28,
.view-stanford-news-grid.views-grid-two .views-row.views-row-30,
.view-stanford-news-grid.views-grid-two .views-row.views-row-32,
.view-stanford-news-grid.views-grid-two .views-row.views-row-34,
.view-stanford-news-grid.views-grid-two .views-row.views-row-36,
.view-stanford-news-grid.views-grid-two .views-row.views-row-38,
.view-stanford-news-grid.views-grid-two .views-row.views-row-40,
.view-stanford-news-grid.views-grid-two .views-row.views-row-42,
.view-stanford-news-grid.views-grid-two .views-row.views-row-44,
.view-stanford-news-grid.views-grid-two .views-row.views-row-46,
.view-stanford-news-grid.views-grid-two .views-row.views-row-48,
.view-stanford-news-grid.views-grid-two .views-row.views-row-50,
.view-stanford-news-grid.views-grid-two .views-row.views-row-52,
.view-stanford-news-grid.views-grid-two .views-row.views-row-54,
.view-stanford-news-grid.views-grid-two .views-row.views-row-56,
.view-stanford-news-grid.views-grid-two .views-row.views-row-58,
.view-stanford-news-grid.views-grid-two .views-row.views-row-60,
.view-stanford-news-grid.views-grid-two .views-row.views-row-62,
.view-stanford-news-grid.views-grid-two .views-row.views-row-64,
.view-stanford-news-grid.views-grid-two .views-row.views-row-66,
.view-stanford-news-grid.views-grid-two .views-row.views-row-68,
.view-stanford-news-grid.views-grid-two .views-row.views-row-70,
.view-stanford-news-grid.views-grid-two .views-row.views-row-72,
.view-stanford-news-grid.views-grid-two .views-row.views-row-74,
.view-stanford-news-grid.views-grid-two .views-row.views-row-76,
.view-stanford-news-grid.views-grid-two .views-row.views-row-78,
.view-stanford-news-grid.views-grid-two .views-row.views-row-80,
.view-stanford-news-grid.views-grid-two .views-row.views-row-82,
.view-stanford-news-grid.views-grid-two .views-row.views-row-84,
.view-stanford-news-grid.views-grid-two .views-row.views-row-86,
.view-stanford-news-grid.views-grid-two .views-row.views-row-88,
.view-stanford-news-grid.views-grid-two .views-row.views-row-90,
.view-stanford-news-grid.views-grid-two .views-row.views-row-92,
.view-stanford-news-grid.views-grid-two .views-row.views-row-94,
.view-stanford-news-grid.views-grid-two .views-row.views-row-96,
.view-stanford-news-grid.views-grid-two .views-row.views-row-98,
.view-stanford-news-grid.views-grid-two .views-row.views-row-100,
.view-stanford-news-grid.views-grid-two .views-row.views-row-102,
.view-stanford-news-grid.views-grid-two .views-row.views-row-104,
.view-stanford-news-grid.views-grid-two .views-row.views-row-106,
.view-stanford-news-grid.views-grid-two .views-row.views-row-108,
.view-stanford-news-grid.views-grid-two .views-row.views-row-110,
.view-stanford-news-grid.views-grid-two .views-row.views-row-112,
.view-stanford-news-grid.views-grid-two .views-row.views-row-114,
.view-stanford-news-grid.views-grid-two .views-row.views-row-116,
.view-stanford-news-grid.views-grid-two .views-row.views-row-118,
.view-stanford-news-grid.views-grid-two .views-row.views-row-120,
.view-stanford-news-grid.views-grid-two .views-row.views-row-122,
.view-stanford-news-grid.views-grid-two .views-row.views-row-124,
.view-stanford-news-grid.views-grid-two .views-row.views-row-126,
.view-stanford-news-grid.views-grid-two .views-row.views-row-128,
.view-stanford-news-grid.views-grid-two .views-row.views-row-130,
.view-stanford-news-grid.views-grid-two .views-row.views-row-132,
.view-stanford-news-grid.views-grid-two .views-row.views-row-134,
.view-stanford-news-grid.views-grid-two .views-row.views-row-136,
.view-stanford-news-grid.views-grid-two .views-row.views-row-138,
.view-stanford-news-grid.views-grid-two .views-row.views-row-140,
.view-stanford-news-grid.views-grid-two .views-row.views-row-142,
.view-stanford-news-grid.views-grid-two .views-row.views-row-144,
.view-stanford-news-grid.views-grid-two .views-row.views-row-146,
.view-stanford-news-grid.views-grid-two .views-row.views-row-148,
.view-stanford-news-grid.views-grid-two .views-row.views-row-150,
.view-stanford-news-grid.views-grid-two .views-row.views-row-152,
.view-stanford-news-grid.views-grid-two .views-row.views-row-154,
.view-stanford-news-grid.views-grid-two .views-row.views-row-156,
.view-stanford-news-grid.views-grid-two .views-row.views-row-158,
.view-stanford-news-grid.views-grid-two .views-row.views-row-160,
.view-stanford-news-grid.views-grid-two .views-row.views-row-162,
.view-stanford-news-grid.views-grid-two .views-row.views-row-164,
.view-stanford-news-grid.views-grid-two .views-row.views-row-166,
.view-stanford-news-grid.views-grid-two .views-row.views-row-168,
.view-stanford-news-grid.views-grid-two .views-row.views-row-170,
.view-stanford-news-grid.views-grid-two .views-row.views-row-172,
.view-stanford-news-grid.views-grid-two .views-row.views-row-174,
.view-stanford-news-grid.views-grid-two .views-row.views-row-176,
.view-stanford-news-grid.views-grid-two .views-row.views-row-178,
.view-stanford-news-grid.views-grid-two .views-row.views-row-180,
.view-stanford-news-grid.views-grid-two .views-row.views-row-182,
.view-stanford-news-grid.views-grid-two .views-row.views-row-184,
.view-stanford-news-grid.views-grid-two .views-row.views-row-186,
.view-stanford-news-grid.views-grid-two .views-row.views-row-188,
.view-stanford-news-grid.views-grid-two .views-row.views-row-190,
.view-stanford-news-grid.views-grid-two .views-row.views-row-192,
.view-stanford-news-grid.views-grid-two .views-row.views-row-194,
.view-stanford-news-grid.views-grid-two .views-row.views-row-196,
.view-stanford-news-grid.views-grid-two .views-row.views-row-198,
.view-stanford-news-grid.views-grid-two .views-row.views-row-200,
.view-stanford-news-grid.views-grid-two .views-row.views-row-202,
.view-stanford-news-grid.views-grid-two .views-row.views-row-204,
.view-stanford-news-grid.views-grid-two .views-row.views-row-206,
.view-stanford-news-grid.views-grid-two .views-row.views-row-208,
.view-stanford-news-grid.views-grid-two .views-row.views-row-210,
.view-stanford-news-grid.views-grid-two .views-row.views-row-212,
.view-stanford-news-grid.views-grid-two .views-row.views-row-214,
.view-stanford-news-grid.views-grid-two .views-row.views-row-216,
.view-stanford-news-grid.views-grid-two .views-row.views-row-218,
.view-stanford-news-grid.views-grid-two .views-row.views-row-220,
.view-stanford-news-grid.views-grid-two .views-row.views-row-222,
.view-stanford-news-grid.views-grid-two .views-row.views-row-224,
.view-stanford-news-grid.views-grid-two .views-row.views-row-226,
.view-stanford-news-grid.views-grid-two .views-row.views-row-228,
.view-stanford-news-grid.views-grid-two .views-row.views-row-230,
.view-stanford-news-grid.views-grid-two .views-row.views-row-232,
.view-stanford-news-grid.views-grid-two .views-row.views-row-234,
.view-stanford-news-grid.views-grid-two .views-row.views-row-236,
.view-stanford-news-grid.views-grid-two .views-row.views-row-238,
.view-stanford-news-grid.views-grid-two .views-row.views-row-240,
.view-stanford-news-grid.views-grid-two .views-row.views-row-242,
.view-stanford-news-grid.views-grid-two .views-row.views-row-244,
.view-stanford-news-grid.views-grid-two .views-row.views-row-246,
.view-stanford-news-grid.views-grid-two .views-row.views-row-248,
.view-stanford-news-grid.views-grid-two .views-row.views-row-250,
.view-stanford-news-grid.views-grid-two .views-row.views-row-252,
.view-stanford-news-grid.views-grid-two .views-row.views-row-254,
.view-stanford-news-grid.views-grid-two .views-row.views-row-256,
.view-stanford-news-grid.views-grid-two .views-row.views-row-258,
.view-stanford-news-grid.views-grid-two .views-row.views-row-260,
.view-stanford-news-grid.views-grid-two .views-row.views-row-262,
.view-stanford-news-grid.views-grid-two .views-row.views-row-264,
.view-stanford-news-grid.views-grid-two .views-row.views-row-266,
.view-stanford-news-grid.views-grid-two .views-row.views-row-268,
.view-stanford-news-grid.views-grid-two .views-row.views-row-270,
.view-stanford-news-grid.views-grid-two .views-row.views-row-272,
.view-stanford-news-grid.views-grid-two .views-row.views-row-274,
.view-stanford-news-grid.views-grid-two .views-row.views-row-276,
.view-stanford-news-grid.views-grid-two .views-row.views-row-278,
.view-stanford-news-grid.views-grid-two .views-row.views-row-280,
.view-stanford-news-grid.views-grid-two .views-row.views-row-282,
.view-stanford-news-grid.views-grid-two .views-row.views-row-284,
.view-stanford-news-grid.views-grid-two .views-row.views-row-286,
.view-stanford-news-grid.views-grid-two .views-row.views-row-288,
.view-stanford-news-grid.views-grid-two .views-row.views-row-290,
.view-stanford-news-grid.views-grid-two .views-row.views-row-292,
.view-stanford-news-grid.views-grid-two .views-row.views-row-294,
.view-stanford-news-grid.views-grid-two .views-row.views-row-296,
.view-stanford-news-grid.views-grid-two .views-row.views-row-298,
.view-stanford-news-grid.views-grid-two .views-row.views-row-300,
.view-stanford-news-grid.views-grid-two .views-row.views-row-302,
.view-stanford-news-grid.views-grid-two .views-row.views-row-304,
.view-stanford-news-grid.views-grid-two .views-row.views-row-306,
.view-stanford-news-grid.views-grid-two .views-row.views-row-308,
.view-stanford-news-grid.views-grid-two .views-row.views-row-310,
.view-stanford-news-grid.views-grid-two .views-row.views-row-312,
.view-stanford-news-grid.views-grid-two .views-row.views-row-314,
.view-stanford-news-grid.views-grid-two .views-row.views-row-316,
.view-stanford-news-grid.views-grid-two .views-row.views-row-318,
.view-stanford-news-grid.views-grid-two .views-row.views-row-320,
.view-stanford-news-grid.views-grid-two .views-row.views-row-322,
.view-stanford-news-grid.views-grid-two .views-row.views-row-324,
.view-stanford-news-grid.views-grid-two .views-row.views-row-326,
.view-stanford-news-grid.views-grid-two .views-row.views-row-328,
.view-stanford-news-grid.views-grid-two .views-row.views-row-330,
.view-stanford-news-grid.views-grid-two .views-row.views-row-332,
.view-stanford-news-grid.views-grid-two .views-row.views-row-334,
.view-stanford-news-grid.views-grid-two .views-row.views-row-336,
.view-stanford-news-grid.views-grid-two .views-row.views-row-338,
.view-stanford-news-grid.views-grid-two .views-row.views-row-340,
.view-stanford-news-grid.views-grid-two .views-row.views-row-342,
.view-stanford-news-grid.views-grid-two .views-row.views-row-344,
.view-stanford-news-grid.views-grid-two .views-row.views-row-346,
.view-stanford-news-grid.views-grid-two .views-row.views-row-348,
.view-stanford-news-grid.views-grid-two .views-row.views-row-350,
.view-stanford-news-grid.views-grid-two .views-row.views-row-352,
.view-stanford-news-grid.views-grid-two .views-row.views-row-354,
.view-stanford-news-grid.views-grid-two .views-row.views-row-356,
.view-stanford-news-grid.views-grid-two .views-row.views-row-358,
.view-stanford-news-grid.views-grid-two .views-row.views-row-360,
.view-stanford-news-grid.views-grid-two .views-row.views-row-362,
.view-stanford-news-grid.views-grid-two .views-row.views-row-364,
.view-stanford-news-grid.views-grid-two .views-row.views-row-366,
.view-stanford-news-grid.views-grid-two .views-row.views-row-368,
.view-stanford-news-grid.views-grid-two .views-row.views-row-370,
.view-stanford-news-grid.views-grid-two .views-row.views-row-372,
.view-stanford-news-grid.views-grid-two .views-row.views-row-374,
.view-stanford-news-grid.views-grid-two .views-row.views-row-376,
.view-stanford-news-grid.views-grid-two .views-row.views-row-378,
.view-stanford-news-grid.views-grid-two .views-row.views-row-380,
.view-stanford-news-grid.views-grid-two .views-row.views-row-382,
.view-stanford-news-grid.views-grid-two .views-row.views-row-384,
.view-stanford-news-grid.views-grid-two .views-row.views-row-386,
.view-stanford-news-grid.views-grid-two .views-row.views-row-388,
.view-stanford-news-grid.views-grid-two .views-row.views-row-390,
.view-stanford-news-grid.views-grid-two .views-row.views-row-392,
.view-stanford-news-grid.views-grid-two .views-row.views-row-394,
.view-stanford-news-grid.views-grid-two .views-row.views-row-396,
.view-stanford-news-grid.views-grid-two .views-row.views-row-398,
.view-stanford-news-grid.views-grid-two .views-row.views-row-400,
.view-stanford-news-grid.views-grid-two .views-row.views-row-402,
.view-stanford-news-grid.views-grid-two .views-row.views-row-404,
.view-stanford-news-grid.views-grid-two .views-row.views-row-406,
.view-stanford-news-grid.views-grid-two .views-row.views-row-408,
.view-stanford-news-grid.views-grid-two .views-row.views-row-410,
.view-stanford-news-grid.views-grid-two .views-row.views-row-412,
.view-stanford-news-grid.views-grid-two .views-row.views-row-414,
.view-stanford-news-grid.views-grid-two .views-row.views-row-416,
.view-stanford-news-grid.views-grid-two .views-row.views-row-418,
.view-stanford-news-grid.views-grid-two .views-row.views-row-420,
.view-stanford-news-grid.views-grid-two .views-row.views-row-422,
.view-stanford-news-grid.views-grid-two .views-row.views-row-424,
.view-stanford-news-grid.views-grid-two .views-row.views-row-426,
.view-stanford-news-grid.views-grid-two .views-row.views-row-428,
.view-stanford-news-grid.views-grid-two .views-row.views-row-430,
.view-stanford-news-grid.views-grid-two .views-row.views-row-432,
.view-stanford-news-grid.views-grid-two .views-row.views-row-434,
.view-stanford-news-grid.views-grid-two .views-row.views-row-436,
.view-stanford-news-grid.views-grid-two .views-row.views-row-438,
.view-stanford-news-grid.views-grid-two .views-row.views-row-440,
.view-stanford-news-grid.views-grid-two .views-row.views-row-442,
.view-stanford-news-grid.views-grid-two .views-row.views-row-444,
.view-stanford-news-grid.views-grid-two .views-row.views-row-446,
.view-stanford-news-grid.views-grid-two .views-row.views-row-448,
.view-stanford-news-grid.views-grid-two .views-row.views-row-450,
.view-stanford-news-grid.views-grid-two .views-row.views-row-452,
.view-stanford-news-grid.views-grid-two .views-row.views-row-454,
.view-stanford-news-grid.views-grid-two .views-row.views-row-456,
.view-stanford-news-grid.views-grid-two .views-row.views-row-458,
.view-stanford-news-grid.views-grid-two .views-row.views-row-460,
.view-stanford-news-grid.views-grid-two .views-row.views-row-462,
.view-stanford-news-grid.views-grid-two .views-row.views-row-464,
.view-stanford-news-grid.views-grid-two .views-row.views-row-466,
.view-stanford-news-grid.views-grid-two .views-row.views-row-468,
.view-stanford-news-grid.views-grid-two .views-row.views-row-470,
.view-stanford-news-grid.views-grid-two .views-row.views-row-472,
.view-stanford-news-grid.views-grid-two .views-row.views-row-474,
.view-stanford-news-grid.views-grid-two .views-row.views-row-476,
.view-stanford-news-grid.views-grid-two .views-row.views-row-478,
.view-stanford-news-grid.views-grid-two .views-row.views-row-480,
.view-stanford-news-grid.views-grid-two .views-row.views-row-482,
.view-stanford-news-grid.views-grid-two .views-row.views-row-484,
.view-stanford-news-grid.views-grid-two .views-row.views-row-486,
.view-stanford-news-grid.views-grid-two .views-row.views-row-488,
.view-stanford-news-grid.views-grid-two .views-row.views-row-490,
.view-stanford-news-grid.views-grid-two .views-row.views-row-492,
.view-stanford-news-grid.views-grid-two .views-row.views-row-494,
.view-stanford-news-grid.views-grid-two .views-row.views-row-496,
.view-stanford-news-grid.views-grid-two .views-row.views-row-498,
.view-stanford-news-grid.views-grid-two .views-row.views-row-500 {
    margin-right: 0px;
}

.view-stanford-news-grid.views-grid-three .views-row {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 20px;
    width: 30%;
    vertical-align: top;
}

.view-stanford-news-grid.views-grid-three .views-row.views-row-3,
.view-stanford-news-grid.views-grid-three .views-row.views-row-6,
.view-stanford-news-grid.views-grid-three .views-row.views-row-9,
.view-stanford-news-grid.views-grid-three .views-row.views-row-12,
.view-stanford-news-grid.views-grid-three .views-row.views-row-15,
.view-stanford-news-grid.views-grid-three .views-row.views-row-18,
.view-stanford-news-grid.views-grid-three .views-row.views-row-21,
.view-stanford-news-grid.views-grid-three .views-row.views-row-24,
.view-stanford-news-grid.views-grid-three .views-row.views-row-27,
.view-stanford-news-grid.views-grid-three .views-row.views-row-30,
.view-stanford-news-grid.views-grid-three .views-row.views-row-33,
.view-stanford-news-grid.views-grid-three .views-row.views-row-36,
.view-stanford-news-grid.views-grid-three .views-row.views-row-39,
.view-stanford-news-grid.views-grid-three .views-row.views-row-42,
.view-stanford-news-grid.views-grid-three .views-row.views-row-45,
.view-stanford-news-grid.views-grid-three .views-row.views-row-48,
.view-stanford-news-grid.views-grid-three .views-row.views-row-51,
.view-stanford-news-grid.views-grid-three .views-row.views-row-54,
.view-stanford-news-grid.views-grid-three .views-row.views-row-57,
.view-stanford-news-grid.views-grid-three .views-row.views-row-60,
.view-stanford-news-grid.views-grid-three .views-row.views-row-63,
.view-stanford-news-grid.views-grid-three .views-row.views-row-66,
.view-stanford-news-grid.views-grid-three .views-row.views-row-69,
.view-stanford-news-grid.views-grid-three .views-row.views-row-72,
.view-stanford-news-grid.views-grid-three .views-row.views-row-75,
.view-stanford-news-grid.views-grid-three .views-row.views-row-78,
.view-stanford-news-grid.views-grid-three .views-row.views-row-81,
.view-stanford-news-grid.views-grid-three .views-row.views-row-84,
.view-stanford-news-grid.views-grid-three .views-row.views-row-87,
.view-stanford-news-grid.views-grid-three .views-row.views-row-90,
.view-stanford-news-grid.views-grid-three .views-row.views-row-93,
.view-stanford-news-grid.views-grid-three .views-row.views-row-96,
.view-stanford-news-grid.views-grid-three .views-row.views-row-99,
.view-stanford-news-grid.views-grid-three .views-row.views-row-102,
.view-stanford-news-grid.views-grid-three .views-row.views-row-105,
.view-stanford-news-grid.views-grid-three .views-row.views-row-108,
.view-stanford-news-grid.views-grid-three .views-row.views-row-111,
.view-stanford-news-grid.views-grid-three .views-row.views-row-114,
.view-stanford-news-grid.views-grid-three .views-row.views-row-117,
.view-stanford-news-grid.views-grid-three .views-row.views-row-120,
.view-stanford-news-grid.views-grid-three .views-row.views-row-123,
.view-stanford-news-grid.views-grid-three .views-row.views-row-126,
.view-stanford-news-grid.views-grid-three .views-row.views-row-129,
.view-stanford-news-grid.views-grid-three .views-row.views-row-132,
.view-stanford-news-grid.views-grid-three .views-row.views-row-135,
.view-stanford-news-grid.views-grid-three .views-row.views-row-138,
.view-stanford-news-grid.views-grid-three .views-row.views-row-141,
.view-stanford-news-grid.views-grid-three .views-row.views-row-144,
.view-stanford-news-grid.views-grid-three .views-row.views-row-147,
.view-stanford-news-grid.views-grid-three .views-row.views-row-150,
.view-stanford-news-grid.views-grid-three .views-row.views-row-153,
.view-stanford-news-grid.views-grid-three .views-row.views-row-156,
.view-stanford-news-grid.views-grid-three .views-row.views-row-159,
.view-stanford-news-grid.views-grid-three .views-row.views-row-162,
.view-stanford-news-grid.views-grid-three .views-row.views-row-165,
.view-stanford-news-grid.views-grid-three .views-row.views-row-168,
.view-stanford-news-grid.views-grid-three .views-row.views-row-171,
.view-stanford-news-grid.views-grid-three .views-row.views-row-174,
.view-stanford-news-grid.views-grid-three .views-row.views-row-177,
.view-stanford-news-grid.views-grid-three .views-row.views-row-180,
.view-stanford-news-grid.views-grid-three .views-row.views-row-183,
.view-stanford-news-grid.views-grid-three .views-row.views-row-186,
.view-stanford-news-grid.views-grid-three .views-row.views-row-189,
.view-stanford-news-grid.views-grid-three .views-row.views-row-192,
.view-stanford-news-grid.views-grid-three .views-row.views-row-195,
.view-stanford-news-grid.views-grid-three .views-row.views-row-198,
.view-stanford-news-grid.views-grid-three .views-row.views-row-201,
.view-stanford-news-grid.views-grid-three .views-row.views-row-204,
.view-stanford-news-grid.views-grid-three .views-row.views-row-207,
.view-stanford-news-grid.views-grid-three .views-row.views-row-210,
.view-stanford-news-grid.views-grid-three .views-row.views-row-213,
.view-stanford-news-grid.views-grid-three .views-row.views-row-216,
.view-stanford-news-grid.views-grid-three .views-row.views-row-219,
.view-stanford-news-grid.views-grid-three .views-row.views-row-222,
.view-stanford-news-grid.views-grid-three .views-row.views-row-225,
.view-stanford-news-grid.views-grid-three .views-row.views-row-228,
.view-stanford-news-grid.views-grid-three .views-row.views-row-231,
.view-stanford-news-grid.views-grid-three .views-row.views-row-234,
.view-stanford-news-grid.views-grid-three .views-row.views-row-237,
.view-stanford-news-grid.views-grid-three .views-row.views-row-240,
.view-stanford-news-grid.views-grid-three .views-row.views-row-243,
.view-stanford-news-grid.views-grid-three .views-row.views-row-246,
.view-stanford-news-grid.views-grid-three .views-row.views-row-249,
.view-stanford-news-grid.views-grid-three .views-row.views-row-252,
.view-stanford-news-grid.views-grid-three .views-row.views-row-255,
.view-stanford-news-grid.views-grid-three .views-row.views-row-258,
.view-stanford-news-grid.views-grid-three .views-row.views-row-261,
.view-stanford-news-grid.views-grid-three .views-row.views-row-264,
.view-stanford-news-grid.views-grid-three .views-row.views-row-267,
.view-stanford-news-grid.views-grid-three .views-row.views-row-270,
.view-stanford-news-grid.views-grid-three .views-row.views-row-273,
.view-stanford-news-grid.views-grid-three .views-row.views-row-276,
.view-stanford-news-grid.views-grid-three .views-row.views-row-279,
.view-stanford-news-grid.views-grid-three .views-row.views-row-282,
.view-stanford-news-grid.views-grid-three .views-row.views-row-285,
.view-stanford-news-grid.views-grid-three .views-row.views-row-288,
.view-stanford-news-grid.views-grid-three .views-row.views-row-291,
.view-stanford-news-grid.views-grid-three .views-row.views-row-294,
.view-stanford-news-grid.views-grid-three .views-row.views-row-297,
.view-stanford-news-grid.views-grid-three .views-row.views-row-300,
.view-stanford-news-grid.views-grid-three .views-row.views-row-303,
.view-stanford-news-grid.views-grid-three .views-row.views-row-306,
.view-stanford-news-grid.views-grid-three .views-row.views-row-309,
.view-stanford-news-grid.views-grid-three .views-row.views-row-312,
.view-stanford-news-grid.views-grid-three .views-row.views-row-315,
.view-stanford-news-grid.views-grid-three .views-row.views-row-318,
.view-stanford-news-grid.views-grid-three .views-row.views-row-321,
.view-stanford-news-grid.views-grid-three .views-row.views-row-324,
.view-stanford-news-grid.views-grid-three .views-row.views-row-327,
.view-stanford-news-grid.views-grid-three .views-row.views-row-330,
.view-stanford-news-grid.views-grid-three .views-row.views-row-333,
.view-stanford-news-grid.views-grid-three .views-row.views-row-336,
.view-stanford-news-grid.views-grid-three .views-row.views-row-339,
.view-stanford-news-grid.views-grid-three .views-row.views-row-342,
.view-stanford-news-grid.views-grid-three .views-row.views-row-345,
.view-stanford-news-grid.views-grid-three .views-row.views-row-348,
.view-stanford-news-grid.views-grid-three .views-row.views-row-351,
.view-stanford-news-grid.views-grid-three .views-row.views-row-354,
.view-stanford-news-grid.views-grid-three .views-row.views-row-357,
.view-stanford-news-grid.views-grid-three .views-row.views-row-360,
.view-stanford-news-grid.views-grid-three .views-row.views-row-363,
.view-stanford-news-grid.views-grid-three .views-row.views-row-366,
.view-stanford-news-grid.views-grid-three .views-row.views-row-369,
.view-stanford-news-grid.views-grid-three .views-row.views-row-372,
.view-stanford-news-grid.views-grid-three .views-row.views-row-375,
.view-stanford-news-grid.views-grid-three .views-row.views-row-378,
.view-stanford-news-grid.views-grid-three .views-row.views-row-381,
.view-stanford-news-grid.views-grid-three .views-row.views-row-384,
.view-stanford-news-grid.views-grid-three .views-row.views-row-387,
.view-stanford-news-grid.views-grid-three .views-row.views-row-390,
.view-stanford-news-grid.views-grid-three .views-row.views-row-393,
.view-stanford-news-grid.views-grid-three .views-row.views-row-396,
.view-stanford-news-grid.views-grid-three .views-row.views-row-399,
.view-stanford-news-grid.views-grid-three .views-row.views-row-402,
.view-stanford-news-grid.views-grid-three .views-row.views-row-405,
.view-stanford-news-grid.views-grid-three .views-row.views-row-408,
.view-stanford-news-grid.views-grid-three .views-row.views-row-411,
.view-stanford-news-grid.views-grid-three .views-row.views-row-414,
.view-stanford-news-grid.views-grid-three .views-row.views-row-417,
.view-stanford-news-grid.views-grid-three .views-row.views-row-420,
.view-stanford-news-grid.views-grid-three .views-row.views-row-423,
.view-stanford-news-grid.views-grid-three .views-row.views-row-426,
.view-stanford-news-grid.views-grid-three .views-row.views-row-429,
.view-stanford-news-grid.views-grid-three .views-row.views-row-432,
.view-stanford-news-grid.views-grid-three .views-row.views-row-435,
.view-stanford-news-grid.views-grid-three .views-row.views-row-438,
.view-stanford-news-grid.views-grid-three .views-row.views-row-441,
.view-stanford-news-grid.views-grid-three .views-row.views-row-444,
.view-stanford-news-grid.views-grid-three .views-row.views-row-447,
.view-stanford-news-grid.views-grid-three .views-row.views-row-450,
.view-stanford-news-grid.views-grid-three .views-row.views-row-453,
.view-stanford-news-grid.views-grid-three .views-row.views-row-456,
.view-stanford-news-grid.views-grid-three .views-row.views-row-459,
.view-stanford-news-grid.views-grid-three .views-row.views-row-462,
.view-stanford-news-grid.views-grid-three .views-row.views-row-465,
.view-stanford-news-grid.views-grid-three .views-row.views-row-468,
.view-stanford-news-grid.views-grid-three .views-row.views-row-471,
.view-stanford-news-grid.views-grid-three .views-row.views-row-474,
.view-stanford-news-grid.views-grid-three .views-row.views-row-477,
.view-stanford-news-grid.views-grid-three .views-row.views-row-480,
.view-stanford-news-grid.views-grid-three .views-row.views-row-483,
.view-stanford-news-grid.views-grid-three .views-row.views-row-486,
.view-stanford-news-grid.views-grid-three .views-row.views-row-489,
.view-stanford-news-grid.views-grid-three .views-row.views-row-492,
.view-stanford-news-grid.views-grid-three .views-row.views-row-495,
.view-stanford-news-grid.views-grid-three .views-row.views-row-498,
.view-stanford-news-grid.views-grid-three .views-row.views-row-501,
.view-stanford-news-grid.views-grid-three .views-row.views-row-504 {
    margin-right: 0px;
}
