.view-display-id-paragraphs_news_block {
  .views-row.column {
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .paragraphs-news-container {
    .paragraphs-news-img {
      img {
        @media (max-width: 580px) {
          width: 100%;
        }
      }
    }

    .paragraphs-news-content-container {
      background: #ffffff;
      padding: 35px;

      .paragraphs-news-content-title {
        h2 {
          margin-top: 20px;
        }
      }
    }
  }
}
