@charset 'UTF-8';
@import 'decanter/core/utilities/decanter-utilities';

.stanford-news-list-view {
  @include responsive-grid-collapse($default-container);
  @include clearfix;

  .views-rows {
    display: flex;
    flex-wrap: wrap;
  }

  .views-row {
    @include grid-column(1 of 2);

    @include grid-media($media-sm) {
      @include grid-column(1 of 3);
      &:nth-of-type(3n+4) {
        clear: left;
      }
    }

    @include grid-media($media-md) {
      @include grid-column(1 of 4);
      &:nth-of-type(3n+4) {
        clear: none;
      }

      &:nth-of-type(4n+5) {
        clear: left;
      }
    }
  }
}
// Contextual links adds a div that scurvey knave.
.role--authenticated {
  .stanford-news-list-view {
    .views-row {
      @include grid-media($media-sm) {
        &:nth-of-type(3n+4) {
          clear: none;
        }

        &:nth-of-type(3n+5) {
          clear: left;
        }
      }

      @include grid-media($media-md) {
        &:nth-of-type(4n+5) {
          clear: none;
        }

        &:nth-of-type(3n+5) {
          clear: none;
        }

        &:nth-of-type(4n+6) {
          clear: left;
        }
      }
    }
  }
}
