$breakpoint: 765px;

.view-display-id-paragraphs_news_block {
  .view-content {
    display: flex;

    @media(max-width: $breakpoint) {
      display: block;
    }
  }

  .views-row {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;

    &.views-row-last {
      margin-right: 0;
      border: 1px solid black;

    }

    @media(max-width: $breakpoint) {
      &, &.views-row-last{
        margin: 20px;
      }
    }
  }

  .views-row ul {
    display: flex;
    margin-left: 20px;
    li {
      list-style-type: none;
      margin: 0 20px 0 0;
      padding: 0;
    }
  }
}