.stanford-news {
  display: flex;
  flex-wrap: wrap;
}
.stanford-news .views-row {
  width: calc(25% - 10px);
  margin: 0 10px 0 0;
}
@media (max-width: 768px) {
  .stanford-news .views-row {
    width: calc(33% - 10px);
  }
}
@media (max-width: 450px) {
  .stanford-news .views-row {
    width: calc(50% - 10px);
  }
}
