/* line 2, ../scss/stanford_news_views.scss */
.view-display-id-paragraphs_news_block .views-row.column {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 580px) {
  /* line 11, ../scss/stanford_news_views.scss */
  .view-display-id-paragraphs_news_block .paragraphs-news-container .paragraphs-news-img img {
    width: 100%;
  }
}
/* line 18, ../scss/stanford_news_views.scss */
.view-display-id-paragraphs_news_block .paragraphs-news-container .paragraphs-news-content-container {
  background: #ffffff;
  padding: 35px;
}
/* line 23, ../scss/stanford_news_views.scss */
.view-display-id-paragraphs_news_block .paragraphs-news-container .paragraphs-news-content-container .paragraphs-news-content-title h2 {
  margin-top: 20px;
}
